.app {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  max-width: 80rem;
  min-height: 90rem;
  background-color: rgba(224, 224, 224, 0.2);
  margin: 3rem auto;
  text-align: center;
  padding: 5rem 3rem;
  border-radius: 0.5rem;

  @media (max-width: 53em) {
    margin: 3rem 3rem;
  }

  &__header {
    margin: 0 auto;
    max-width: 60rem;

    @media (max-width: 37em) {
      font-size: 2.6rem;
    }

    @media (max-width: 19em) {
      font-size: 2.4rem;
    }
  }

  &__sentence {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: white;
    border: gray 1px solid;
    height: 15rem;
    max-width: 40rem;
    margin: 3rem auto;
  }

  &__paragraph {
    font-size: 2.6rem;

    @media (max-width: 19em) {
      font-size: 2.2rem;
    }
  }

  &__check-button {
    cursor: pointer;
    outline: none;
    margin: 5rem auto 3rem auto;
    background-color: white;
    font-size: 1.8rem;
    border: gray 1px solid;
    border-radius: 5px;
    display: block;
    width: 12rem;
    height: 4rem;
    box-shadow: gray 0 1px 3px;

    &:active {
      background-color: grey;
    }

    @media (max-width: 32.5em) {
      margin: 7rem auto 3rem auto;
    }

    @media (max-width: 18em) {
      margin: 5rem auto 3rem auto;
    }
  }
}
