.check-button {
  position: absolute;
  top: -10rem;
  left: 26rem;

  display: block;
  cursor: pointer;
  outline: none;
  margin: 3rem auto 3rem auto;
  background-color: white;
  font-size: 1.8rem;
  border: gray 1px solid;
  border-radius: 5px;
  width: 12rem;
  height: 4rem;
  box-shadow: gray 0 1px 3px;
  transition: top 1s;

  &--clicked {
    top: -3rem;
  }

  &:active {
    background-color: grey;
  }

  @media (max-width: 32.5em) {
    margin: 7rem auto 3rem auto;
  }

  @media (max-width: 18em) {
    margin: 5rem auto 3rem auto;
  }
}
