.message {
  margin: 4rem 0;
  height: 3rem;
  opacity: 0;
  color: rgba(224, 224, 224, 0.2);
  transition: all 0.5s;

  &--show {
    opacity: 1;
  }

  &--write {
    color: forestgreen;
  }

  &--false {
    color: red;
  }

  @media (max-width: 19em) {
    font-size: 2.2rem;
  }
}
